@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .search-bar {
    transition: none;
  }
}

.search-bar-container {
  position: relative;
}

.search-bar:hover{
  @apply bg-white/10
}
.search-bar {
  width: 5rem;
  transition: width 0.2s;
  outline: none;
  @apply bg-inherit text-sky-900 rounded-md p-1 px-2 shadow-sky-950 font-semibold;
}

.search-bar::placeholder {
  @apply text-sky-950;
}
.search-bar:focus::placeholder {
  @apply text-sky-950/50;
}

.search-bar:not(:placeholder-shown) {
  box-shadow: 0 0 0 1px rgba(16, 53, 83, 0.993);
}
.search-bar:focus-visible,
.x-icon-button:focus-visible {
  box-shadow: 0 0 0 2px rgba(16, 53, 83, 0.993);
}


.search-bar:focus,.search-bar:not(:placeholder-shown) {
  width: 15rem;

}
.search-icon,
.x-icon-button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.25rem;
  top: 50%;
  translate: 0 -50%;
  opacity: 0;
  rotate: 90deg;
  pointer-events: none;
  visibility: hidden;
  transition-behavior: discrete;
  transition: opacity, rotate;
  transition-duration: 0.15s;
  @apply text-sky-950 rounded-md;
}

.search-bar-container:has(.search-bar:placeholder-shown) 
.search-icon, 
.search-bar-container:has(.search-bar:not(:placeholder-shown)) 
.x-icon-button {
  opacity: 1;
  pointer-events: all;
  rotate: 0deg;
  visibility: visible;
}

button{
  all: unset;
  cursor: pointer;
}


